@charset "UTF-8";

/*
Cores:
 Lilás: #B75BEF
 rosa clarinho:#EF3F8F
 vermelho: #B20A0A
 branco:#FFFFFF
*/
@font-face {
    font-family:Love ;
    src: url(fontes/love\ larry\ ttf.ttf) format(truetype);
}
@font-face {
    font-family: Blacksword;
    src: url(fontes/Blacksword.otf) format(opentype);
}

:root{
    --cor1:#B75BEF;
    --cor2:#EF3F8F;
    --cor3:#B20A0A;
    --cor4:#FFFFFF;
}

body {
    background-color: rgb(202, 163, 112);
    margin: 0px;
}
header{
 background-image: linear-gradient(to bottom, rgb(255, 123, 0), rgb(133, 73, 4));
padding: 15px;
}
header h1{
    font-family: Love;
   color: rgb(48, 0, 8);
   font-weight: 200;
   padding: 5px 20px;
   text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.767);
   font-family: Love, Helvetica, sans-serif;
  text-align: center;
  
}
header >p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    text-align: center;
    border-radius: 12px;
    text-shadow: 5px 5px 10px black;
    padding: 10px;
    text-indent: 10px;
}
nav{
    background-color: rgb(80, 3, 3);
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.507);
    text-align: center;
}
nav a{
    color: rgba(224, 100, 100, 0.603);
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    text-shadow: 3px 3px 8px black;
}

nav a:hover{
    color: rgba(59, 3, 3, 0.664);
    background-color: rgba(168, 25, 25, 0.664);
    border-radius: 5px;
    transition: 0.5s;

}
nav a:active{
    color: green;
}
.amor{
color: var(--cor1);
}
.love{
color: var(--cor2);
}
.agapi{
color: var(--cor3);
}
.愛{
color: var(--cor4);
}
main{
    background-color: var(--cor4);
    padding: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.479);
    margin: auto;
    margin-bottom: 20px;
    
   
}
main >h2{
    font-family: Love;
   color: rgb(255, 187, 0);
   font-weight: 200;
   padding: 5px 20px;
   text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.767);
   font-family: Love, Helvetica, sans-serif;
  text-align: center;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    text-align: center;
    background-color: #ee9106;
    border-radius: 12px;
    text-shadow: 5px 5px 10px black;
    padding: 10px;
    text-indent: 10px;
}
img{
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(184, 135, 11, 0.589);
}
.fonte{
    font-family: Blacksword;
    
    
}
.avisomouse{
    font: bold 1em italic;
    background-color: #D96A9E;
}

footer{
background-color: white;
}
footer >p{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0px;
    margin-top: 20px;
}