@charset "UTF-8";

@font-face {
    font-family:Love ;
    src: url(fontes/love\ larry\ ttf.ttf) format(truetype);
}
@font-face {
    font-family: Blacksword;
    src: url(fontes/Blacksword.otf) format(opentype);
}
body {
    background-image: linear-gradient(to left, #F2C2CB, #D96A9E, #8C503A, #D98E73, #402424);
    background-attachment: fixed;
}
#principal{
    display: inline;
    font-family: Love;
   color: rgb(48, 0, 8);
   font-weight: 200;
   background-color: rgba(255, 0, 0, 0.295);
   padding: 5px 20px;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.767);
   font-family: Love, Helvetica, sans-serif;
   font-size: 30px;
  border-radius: 20px;
  text-align: center;
  
}
.h1 {
    
    font-weight: 200;
   color: rgb(255, 255, 255);
   background-color: rgba(255, 0, 0, 0.295);
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.767);
   font-family: Love, Helvetica, sans-serif;
   font-size: 30px;
  border-radius: 20px;
  text-align: center;
  
}
img{
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.493);
    margin: auto;
    border-radius: 10px;
    padding-top: 20px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    text-align: center;
    background-color: #ee060628;
    border-radius: 12px;
    text-shadow: 10px 10px 10px black;
    padding: 10px;
    text-indent: 10px;
}
video{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623);
        margin: auto
    
}
iframe{ 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.753);
    border-radius: 10px;
margin: auto;
    width: 800px;
}
h2 {
    background-color: crimson;
    width: 300px;
    text-align: center;
    font-family: Blacksword, Helvetica, sans-serif;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
audio{
    width: 200px;
}
main{
    background-color: #402424;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.479);
    margin: 30px;
    margin-left: 200px;
    text-align: center;
    width: 900px;
}
.fonte{
    font-family: Blacksword;
    
    
}
div > p {
    display: none;
}
div:hover > p {
    display: block;
    
}
.avisomouse{
    font: bold 1em italic;
    background-color: #D96A9E;
}
a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: purple;
}
a:active{
    color: green;
}